<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3 class="mt-2">update a listing</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data" class="needs-validation" novalidate enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">
                Title looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a good title.
            </div>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea name="listing[description]" type="text" class="form-control" required><%= listing.description %></textarea>
            <div class="valid-feedback">
                Description looks good!
            </div>
            <div class="invalid-feedback">
                Please enter a good description.
            </div>
        </div>

        <div class="mb-3">
            Existing image <br>
            <img src="<%= originalImageUrl %>" alt="Existing listing image">
        </div>
        
        <div class="mb-3">
            <label for="Image" class="form-label">Upload new image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="price" class="form-label">price</label>
                <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter the price.
                </div>
            </div>
           
            <div class="col-md-8 mb-3">
                <label for="country" class="form-label">country</label>
                <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control" required>
                <div class="valid-feedback">
                    Well good!
                </div>
                <div class="invalid-feedback">
                    Please enter a Country name.
                </div>
            </div>
        </div>
        
        
        <div class="mb-3">
            <label for="location" class="form-label">location</label>
            <input name="listing[location]" type="text" value="<%= listing.location %>" class="form-control" required>
            <div class="valid-feedback">
                Well good!
            </div>
            <div class="invalid-feedback">
                Please enter a valid location.
            </div>
        </div>
        
        <center><button class="btn btn-dark mb-3">Update</button></center>
    </form>
    </div>
    </div>
</body>
